@import "_variables";
.header {
	&__header {
		height: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__searchform {
		display: flex;
		align-items: center;
		border-radius: 3px;
		border: 1px solid $borderColor;
		overflow: hidden;
		height: 40px;
		font-weight: 300;
		.disabled:not(:first-child) {
			margin-top: 1.5rem;
		}
		.dropdown-menu {
			input {
				border: 1px solid $borderColor;
				display: none;
				@media (max-width: 768px) {
					display: inline;
				}
			}
			button {
				border: 1px solid $borderColor;
				display: none;
				@media (max-width: 768px) {
					display: inline;
				}
			}
		}
	}
	&__search-browse {
		padding: 14px;
		border-right: 1px solid $borderColor;
		background-color: #f8f8f8;
		font-size: $mainFontSize;
		line-height: 40px;
		color: $textColor;
		font-weight: 400;
		i {
			&:first-child {
				color: #838383;
			}
		}
	}
	&__search-input {
		height: inherit;
		border: none;
		outline: none;
		padding: 14px 16px;
		@media (max-width: 992px) {
			width: 150px;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__search-buton {
		color: #a4a4a4;
		height: inherit;
		border: none;
		border-left: 1px solid $borderColor;
		background: none;
		padding: 12px;
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__cart {
		margin-right: 24px;
		margin-left: auto;
		position: relative;
	}
	&__btn {
		padding: 13px 19px;
		background-color: $mainColor;
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		border: none;
	}
	&__line {
		border-bottom: 1px solid #ececec;
	}
	&__nav {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			text-decoration: none;
			color: $textColor;
			font-size: $mainFontSize;
			font-weight: 700;
			text-transform: uppercase;
			&:not(:last-child) {
				margin-right: 45px;
			}
			&:hover {
				color: $mainColor;
			}
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__burger {
		display: none;
		@media (max-width: 768px) {
			display: block;
		}
	}
}

.logo {
	width: 165px;
	background: url("../../assets/imgs/logo.png") no-repeat;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 300;
	padding-left: 72px;
	line-height: 51px;
	margin-right: 37px;
	span {
		color: $mainColor;
		font-weight: 700;
	}
}

.hidden {
	display: block !important;
}

.headerCart {
	position: absolute;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	padding: 20px 17px;
	z-index: 3;
	width: 268px;
	display: none;
	&__item {
		display: flex;
		justify-content: space-between;
		padding-bottom: 16px;
		border-bottom: 1px solid #ededed;
		align-items: center;
		button {
			margin-left: 55px;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			width: 15px;
			height: 15px;
			color: #c0c0c0;
			border-radius: 50%;
		}
	}
	&__product {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 72px;
			height: 85px;
		}
	}
	&__description {
		margin-left: 14px;
		width: 75px;
	}
	&__name {
		color: #222222;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__price {
		color: $mainColor;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 15px;
		span {
			font-size: 10px;
			margin: 0px 4px;
		}
	}
	&__totalPrice {
		display: flex;
		justify-content: space-between;
		color: #222222;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 19px;
		div:last-child {
			display: flex;
		}
	}
	&__button {
		margin-top: 32px;
		width: 100%;
		padding: 19px;
		color: $mainColor;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border: 1px solid #f16d7f;
		background-color: #ffffff;
		a {
			color: $mainColor !important;
		}
		&:last-child {
			border: 1px solid #eaeaea;
			color: #4a4a4a;
			margin-top: 11px;
			a {
				color: #4a4a4a !important;
			}
		}
	}
}
